/*	Breadcrumbs	*/
div.topbar {
	margin: 3em 0 2em 0;
	font-size: 0.7em;
	text-transform: uppercase;
	color: #FFF;
	background-color: #AAA;
	padding: 1em 2em;
	position: relative;
	left: calc(-1em + 3px);
	width: calc(100% + 2em - 6px);
}

div.topbar a {
	text-decoration: none;
}

div.breadcrumbs {
	display: inline-block;
	width: 49%;
}

div.bc {
	display: inline-block;
}

div.bc span {
	color: #FFF;
}

/*	Tabs navigation	*/
ul.tabs {
	width: 95%;
	border-bottom: 2px solid #005F8C;
}

ul.tabs>li {
	list-style-type: none;
	display: inline-block;
}

ul.tabs>li>a {
	text-decoration: none;
	padding: 5px 15px;
	border: 2px solid #005F8C;
	border-bottom: 0;
	background-color: #FFF;
	font-size: 0.9em;
	color: #005F8C;
}

ul.tabs>li>a.active {
	background-color: #005F8C;
	list-style-type: none;
	display: inline-block;
	padding: 11px 17px;
	border: 2px solid #005F8C;
	border-bottom: 0;
	position: relative;
	top: 2px;
	color: #FFF;
}

ul.tabs>li>a:not(.active):hover {
	background-color: #EFEFEF;
	color: #76B33C;
}

ul.tabs>li>a:not(.active) {
	position: relative;
	top: 6px;
}

/*	Logout	*/
div.logout {
	width: 49%;
	text-align: right;
	display: inline-block;
	float: right;
}

/*	Logo	*/
div.logo {
	width: 98%;
	height: 125px;
	background: url('/images/logo/Career_Hub.png') no-repeat;
	background-size: auto 125px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	border-top: 1px solid #005F8C;
	background-color: #0D4A66;
	font-weight: bold;
	margin: 20px 0 0 -8px;
	padding: 7px 0;
	color: #FFF;
	font-size: 0.7em;
}